* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.main {
  width: 100%;
  height: 100vh;
  background-color: #1e1e1e;

  overflow: scroll;
  scrollbar-width: none;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  background-image: url(/gym-management-system/asset/images/welcome.jpg);
  background-position: center;
  background-size: cover;
}

.container {
  width: 90%;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.main-details-background {
  width: 100%;
  height: 21vh;

  background-image: url(/gym-management-system/asset/images/Animated\ Shape\ \(3\).svg);
  background-color: #222222;

  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: start;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 4;
}

.main-detail {
  padding: 15px 10px 10px 30px;
  width: 70%;
  height: 21vh;

  background-color: #222222;
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: start;

  gap: 10px;

}

.profile {
  width: 19vh;
  height: 19vh;

  border-radius: 50%;
  background-color: #dc2626;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile .icon {
  width: 13vh;
  height: 13vh;

  /* background-image: url("/gym-management-system/asset/images/svgs/profile.svg");
  background-position: center; */
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-details {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  line-height: 28px;
  gap: 5px;



}

.profile-details h1 {
  font-family: "NCL Monster Beast";
  font-weight: 100;
  font-size: 35px;
  color: #dc2626;
}

.profile-details p {
  font-family: "salena";

  font-size: 18px;
  color: #ffffff7a;
  text-transform: capitalize;
}

.navigation {
  position: sticky;
  top: 0;
  z-index: 1;
}

.navigation a {
  color: #c0c0c0;
  text-decoration: none;
}

.navigation ul {
  padding: 0;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style: none;

  justify-content: center;
  align-items: center;

  gap: 5px;
}

.navigation ul li {
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  background-color: #313030;

  font-family: "salena";

  font-size: 15px;
  color: #ffffffa5;
}

.navigation ul li:hover {
  background-color: #dadada;
  color: #1e1e1e;
}

/* dashboad stylesheets */
.dashboard-body {
  margin-top: 20px;
  width: 100%;
  height: auto;
  min-height: 110vh;
  padding-bottom: 20px;
  background-color: #222222;
  border: 2px #4d4d4da4 solid;
  gap: 20px;
}

.package-details {
  width: 100%;
  height: 30vh;

  display: flex;

  justify-content: center;
  align-items: center;
}

.active-package {
  width: 80%;
  height: 15vh;
  background-color: #148116;
  display: flex;
  flex-direction: row;

  gap: 10px;
  padding: 10px;

  justify-content: center;
  align-items: center;

}

.active-package h1 {
  font-family: "NCL Monster Beast";
  font-weight: 100;
  font-size: 40px;
  color: rgb(255, 255, 255);
}

.leftactive {
  width: 10%;
}

/* dashboad */
.image {
  background-image: url("/gym-management-system/asset/images/3.jpg");
  background-position: center;
  background-size: cover;


}

.dashboard {
  width: 100%;
  height: 40vh;

  display: flex;


  justify-content: center;
  align-items: center;
  gap: 30px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;

  transform: translate(180rad);
}

.dashboard .card {
  position: relative;
  width: 28%;
  height: 35vh;
  background-color: #2b2b2bc9;
  border: 3px rgba(255, 255, 255, 0.061) solid;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "GeophyDEMO";
  color: white;

  padding: 10px;
  font-size: 10px;
  text-align: center;
}

.dashboard .card p {
  font-size: 24px;
  color: white;
}

.circle {
  background-color: #dc2626;
  width: 10px;
  height: 10px;
  border-radius: 50%;

  position: absolute;
  top: 10px;
  left: 10px;
}

.circle2 {
  background-color: #dc2626;
  width: 10px;
  height: 10px;
  border-radius: 50%;

  position: absolute;
  bottom: 10px;
  right: 10px;
}

.circle3 {
  background-color: #dc2626;
  width: 10px;
  height: 10px;
  border-radius: 50%;

  position: absolute;
  top: 10px;
  right: 10px;
}

.circle4 {
  background-color: #dc2626;
  width: 10px;
  height: 10px;
  border-radius: 50%;

  position: absolute;
  bottom: 10px;
  left: 10px;

  animation: blink-border 1s ease-in-out;
}

@keyframes blink-border {

  /* At 50% of the animation duration, the border color changes */
  50% {
    background-color: #dc262659;
    /* Red color for the blink effect */
  }
}

.dashboard .card span {
  font-family: "NCL Monster Beast";
  font-weight: 100;
  font-size: 40px;
  color: #dc2626;
}


.about {

  padding: 10px;
  padding-top: 40px;
  width: 100%;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  gap: 10px;
  background-color: #313030;
  border-top: 2px solid #7b7b7b7f;


}

.about .layout {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 20px;
  margin-left: 4vh;

  padding: 10px;

}

.about .data {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 8px;

}

.about .data img {
  width: 20vh;

}

.about h1 {
  margin-left: 5vh;
  font-family: "NCL Monster Beast";
  font-weight: 100;
  font-size: 35px;
  color: #dc2626;
}

.about .data p {
  font-family: "Roboto";

  font-size: 18px;
  color: #ffffff7a;


}

.payment {
  
  padding: 20px;
  width: 100%;
  height: 70vh;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;

  gap: 10px;
  background-color: #313030e1;
  margin-top: 20px;
  border-top: 2px solid #7b7b7b7f;
}

.topics {
  width: 90%;
  height: 10%;
  display: flex;
  flex-direction: row;
}

.content {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.payment h1 {
  margin-left: 5vh;
  font-family: "NCL Monster Beast";
  font-weight: 100;
  font-size: 35px;
  color: #dc2626;
}

.payment-table {
  width: 90%;
  margin-left: 5vh;
  border-collapse: collapse;
  color: #ffffff7a;
  font-family: "Roboto";
  font-size: 16px;
}

.payment-table th,
.payment-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #4d4d4d;
}

.payment-table th {
  color: #dc2626;
  font-weight: normal;
  font-size: 18px;
  font-family: "salena";
}

.no-payment {
  margin-left: 5vh;
  color: #ffffff7a;
  font-family: "Roboto";
  font-size: 16px;
}

.payment-form {
  width: 80%;
  margin-left: 5vh;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.form-group label {
  color: #ffffff7a;
  font-family: "salena";
  font-size: 18px;
}

.form-group input {
  padding: 10px;
  background-color: #222;
  border: 1px solid #4d4d4d;
  color: white;
  border-radius: 5px;
  font-family: "Roboto";
  font-size: 16px;
  outline: none;
}

.form-group input:focus {
  border-color: #dc2626;
}

.form-row {
  display: flex;
  gap: 20px;
  width: 100%;
}

.pay-btn {
  margin-top: 10px;
  padding: 12px;
  background-color: #dc2626;
  color: white;
  border: none;
  border-radius: 5px;
  font-family: "NCL Monster Beast";
  font-size: 20px;
  cursor: pointer;
  width: 200px;
  transition: background-color 0.3s;
}

.pay-btn:hover {
  background-color: #b91c1c;
}