@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: 100vh;
  background-image: url("/gym-management-system/asset/images/welcome.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(#dabdbd00, #000000);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.content {
  width: 60%;
  height: 60vh;

  text-shadow: 10px 10px 10px 10px white;
  color: white;

  padding: 20px;
  

  
}

.content .topic {
  font-family: "NCL Monster Beast";
  font-size: 40px;
  line-height: 90px;
}

.content #button {
  padding: 15px;
  width: 120px;
  font-family: "gotham";

  border: 1px #dc2626 solid;
  transition: background-color 0.3s ease-out;

  color: #fee2e2;
  font-weight: 800;
  background-color: #dc2626;

  font-size: 15px;
  cursor: pointer;
}

.content #button:hover {
  padding: 15px;
  width: 120px;
  font-family: "gotham";
  border: 1px #ffffff solid;
  transition: background-color 0.3s ease-out;

  color: black;
  font-weight: 800;
  background-color: #fee2e2;

  cursor: pointer;
  font-size: 15px;
}
.content #button2 {
  padding: 15px;
  width: 120px;
  font-family: "gotham";
  border: 1px #dc2626 solid;
  box-shadow: none;
  transition: background-color 0.3s ease-out;

  color: #dc2626;
  font-weight: 800;
  background-color: transparent;

  font-size: 15px;
  cursor: pointer;
}

.content #button2:hover {
  padding: 15px;
  width: 120px;
  font-family: "gotham";
  border: none;
  transition: background-color 0.3s ease-out;

  color: black;
  font-weight: 800;
  background-color: #fee2e2;

  cursor: pointer;
  font-size: 15px;
}

.content .details {
  font-family: "salena";
  font-size: 12px;
  text-transform: capitalize;

  width: 70%;
}

.detail-content {
  display: flex;
  flex-direction: row;

  gap: 10px;
  justify-content: center;
  align-items: center;

  background-color: rgb(24, 24, 24);



  padding: 10px;
}

.circle{
  background-color: #dc2626;
  width: 10px;
  height: 10px;
  border-radius: 50%;

  position: absolute;
  top: 5px;
  left: 0px;
}
.circle2{
  background-color: #dc2626;
  width: 10px;
  height: 10px;
  border-radius: 50%;

  position: absolute;
  bottom: 10px;
  right: 10px;
}
.circle3{
  background-color: #dc2626;
  width: 10px;
  height: 10px;
  border-radius: 50%;

  position: absolute;
  top: 10px;
  right: 10px;
}
.circle4{
  background-color: #dc2626;
  width: 10px;
  height: 10px;
  border-radius: 50%;

  position: absolute;
  bottom: 10px;
  left: 10px;
}