        * {
            margin: 0;
            box-sizing: border-box;
            scroll-behavior: smooth;
        }

        .main {
            background-image: linear-gradient(#1e1e1e00 ,#101010),url("/gym-management-system/asset/images/2.jpg");
            background-color: rgba(0, 0, 0, 0.801);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: start;
            padding-top: 30px;
            overflow: scroll;
            scrollbar-width: none;

        }

        .container {

            background-color: transparent;
            width: 1100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            padding: 20px;

        }

        .topic_head {
            background-color: #2b2a2a;
            border: 2px #3b3b3bc5 solid;
            display: flex;
            flex-direction: row;
            width: 760px;
            height: 110px;
            padding: 15px;
            justify-content: space-between;
            align-items: flex-endq;

        }

        .topic_head h2 {
            font-size: 30px;
            font-weight: 50;
            font-family: "NCL Monster Beast";
            color: #dc2626;

        }

        .topic_head h4 {

            font-family: "Roboto";
            font-size: 16px;
            color: rgba(255, 255, 255, 0.852);

        }

        .detail {
            display: flex;
            gap: 0px;
            flex-direction: row;
            justify-content: center;
            height: 1180px;
            width: 760px;
        }

        /*---- invisible back division for form ----*/
        .div1 {

            color: aliceblue;
            width: 690px;
            height: 1180px;
            background-color: #2b2a2a;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 10px;
            padding: 15px;
            border: 2px solid #6464643a;
        }

        /*--- image icon div -----*/
        .div2 {

            display: flex;
            height: 1180px;
            width: 70px;
            background-color: #b50303;
            flex-direction: column;
            align-items: center;
            gap: 140px;
            border: 2px solid #6464643a;

        }

        .form1 form {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            gap: 30px;
        }

        .form1 .personal-details {
            display: flex;
            flex-direction: column;
            gap: 8px;

        }

        .package {
            display: flex;
            flex-direction: column;
            gap: 1px;
        }

        .fitness-details {
            display: flex;
            flex-direction: column;

        }

        .bottom {
            display: flex;
            flex-direction: row;
            gap: 10px;

        }

        .package2 {
            display: flex;
            flex-direction: column;
        }

        .package2 input {
            width: 80px;
        }

        .package2 input:placeholder {
            color: #40404084;
        }

        .package2 select {
            background-color: #fffdfdb1;
            color: rgba(41, 41, 41, 0.698);
            font-family: "Roboto";
            width: 200px;
            font-size: 16px;
            padding: 8px;
        }

        .package select {
            background-color: #fffdfdb1;
            color: #474747;
            width: 200px;
            font-size: 16px;
            padding: 8px;
        }

        .budget {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        .form1 {
            width: 650px;
            height: 1300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            margin-left: 16px;
        }


        .medical {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }


        .account {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }


        .form1 h2 {
            font-family: "NCL Monster Beast";
            color: #dc2626;

        }

        .form1 label {
            color: #9a9a9a;
            font-size: 16px;
            text-transform: capitalize;
            font-family: "salena";
        }


        #label1 {
            color: white;
            border: 2px black solid;
        }

        
        /* ------ iamge icons -----*/

        .img1 {
            margin-top: 50px;
            display: flex;
        }

        .img2 {
            margin-top: 170px;
            display: flex;

        }

        .img3 {
            display: flex;

        }

        .img4 {
            margin-top: 40px;
            display: flex;

        }

        .img5 {
            margin-top: 10px;
            display: flex;

        }

        input {

            width: 580px;
            padding: 8px;
            border: 1px solid #535353ad;
            font-size: 16px;
            background-color: #fffdfd9f;
            color: rgb(46, 45, 45);
            font-family: "Roboto";
        }

        input::placeholder {
            font-family: "Roboto";
            color: #40404084;
        }

        #height_and_weight{
            width: 180px;

        }

        .check_box {
            padding: 5px;
            font-weight: 50px;
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 5px;
        }

        .check_box input {
            width: 10px;
            padding: 0;
        }

        .check_box input .check_box label {
            display: flex;
            align-items: center;
            gap: 5px;
        }

        textarea {
            resize: none;
            background-color: #a8a8a8;
            color: rgb(46, 45, 45);
            font-family: "Roboto";
            width: 580px;
            height: 100px;
        }

        #button {
            background-color: #DC2626;
            color: white;
            border: none;
            padding: 10px 5px 10px 5px;
            cursor: pointer;
            font-family: "NCL Monster Beast";
            font-size: 16px;
        }

        .button_div {
            margin-top: 20px;
            justify-content: center;

        }

        #button:hover {
            background-color: white;
            color: #DC2626;
            transition: 0.1s;
        }



        .check-container {
            display: flex;
            align-items: center;
            gap: 5px;
            cursor: pointer;
            font-size: 18px;
        }

        /* Hide default checkbox */
        .check-container input {
            display: none;
        }

        /* Custom box */
        .checkmark {
            width: 22px;
            height: 22px;
            border: 2px solid red;
            border-radius: 6px;
            position: relative;
            transition: 0.3s;
        }

        /* When checked */
        .check-container input:checked+.checkmark {
            background-color: red;
        }

        /* Check symbol */
        .check-container input:checked+.checkmark::after {

            color: white;
            position: absolute;
            left: 4px;
            top: -2px;
            font-size: 18px;
        }

        .back-button {
            display: flex;
            justify-content: end;
            align-items: center;
        }