* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

.main {
    width: 100%;
    height: 100vh;
    background-color: #151515;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    overflow: scroll;
    scrollbar-width: none;

}

.members {
    margin-top: 20px ;
    width: 40%;
    
    padding: 10px;
    display: flex;
    flex-direction: column;

    justify-content: start;
    align-items: start;
    background-color: #1e1e1e;
    border: 2px solid #5d5d5d44;
    gap: 15px;
}

.members form {
    margin-left: 3vh;
    display: flex;
    flex-direction: column;

}

.members .topic {
    width: 100%;
    padding: 10px;
    margin-left: 3vh;
}

.members .topic h1 {
    font-family: "NCL Monster Beast";
    font-size: 30px;
    color: #DC2626;
}

.members label {
    font-family: "Roboto";
    font-size: 16px;
    color: #9191919d;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

}

.members input {
    width: 55vh;
    padding: 8px;
    background-color: #525252c2;
    border: none;
    color: white;
    font-family: "Roboto";


}

.members select {
    width: 55vh;
    padding: 8px;
    background-color: #525252c2;
    border: none;
    color: white;
    font-family: "Roboto";
}

.members input:focus {
    border: 1px solid #DC2626;
}

.members button {
    margin-top: 10px;
    background-color: #DC2626;
    color: white;
    border: none;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    font-family: "NCL Monster Beast";
}

.members button:hover {
    background-color: white;
    color: #DC2626;
    transition: 0.1s;
}

.members .buttons {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.members .inputs {
    display: flex;
    flex-direction: column;

    gap: 0;
}