* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    scroll-behavior: smooth;
}

.main {
    width: 100%;
    height: 100vh;
    background-color: #151515;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    scrollbar-width: none;

}

.members {
    padding: 10px 0px 10px 0px;
    width: 100%;
    background-color: #1e1e1e;
    border: 2px solid #5d5d5d44;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.members .topic {
    width: 100%;
    padding: 10px;
    
}

.members .topic h1 {
    font-family: "NCL Monster Beast";
    font-size: 30px;
    color: #DC2626;
}

.members .topic p {
    font-family: "salena";
    font-size: 12px;
    color: #9191919d;
}

.first-container{
    width:82%;

}

.management-table {
    width: 100%;
    padding: 20px 10px 10px 10px;
    

    display: flex;
    flex-direction: column;

    justify-content: start;
    align-items: start;

    gap: 15px;
}

.management-table .panel a {
    padding: 10px;
    background-color: #DC2626;
    font-family: "NCL Monster Beast";
    color: white;
    cursor: pointer;
    border: none;
    font-size: 15px;
    text-decoration: none;
}

.management-table .panel a:hover {
    background-color: white;
    color: #DC2626;
    transition: 0.1s;
}


.panel {
    display: flex;
    flex-direction: row;
    gap: 10px;

}


.tableManagement {
    
    border: none;
    border-collapse: collapse;
    overflow: scroll;
}

.tableManagement th {
    font-family: "NCL Monster Beast";
    color: #ffffff;
    font-size: 18px;
    padding: 10px 30px 10px 30px;
    background-color: #DC2626;
    border: none;

}

.tableManagement td {
    background-color: #1e1e1e;
    padding: 15px 30px 15px 30px;
    font-size: 16px;

    color: #ebeaea;
    font-family: "Roboto";

}

.tableManagement tr {
    border-bottom: 1px solid #8989899e;
    border-left: 1px solid #8989899e;
    border-right: 1px solid #8989899e;
}

.tableManagement #functiontable {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 15px;

}

.action .details-btn {
    padding: 5px 10px 5px 10px;
    background-color: #99999974;
    color: #ffffff;
    text-decoration: none;
}
.action .details-btn:hover{
    transition: .1s;
    background-color: #464646c0;


}

.action .delete-btn {
    padding: 5px 10px 5px 10px;
    background-color: #DC2626;
    color: #ffffff;
    text-decoration: none;
}
.action .delete-btn:hover {
    transition: .1s;
    background-color: #841515;
}

.model {
    display: none;
    width: 100%;
    height: 100vh;
    background-color: #0000009e;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;

}

.model .model-content {
    padding: 20px;
    width: 60vh;
    
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 5px;
    left: 10vh;
    top: 10vh;
    border: 2px solid #5252526a;

}

.model .model-content .model-topic{
    font-family: "NCL Monster Beast";
    font-size: 14px;
    color: #DC2626;
}

.close {
    position: absolute;
    left: 65%;
    transform: translate(-120%, -20%);

}

.close button {
    background-color: #DC2626;
    color: white;
    border: none;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    font-family: "NCL Monster Beast";
    font-size: 20px;
}

.close button:hover {
    background-color: white;
    color: #DC2626;
    transition: 0.1s;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
}

.content h2 {
    font-family: "salena";
    color: #ffffff;
    font-size: 15px;
}

.content p {
    font-family: "Roboto";
    color: #9191919d;
    font-size: 16px;
}

.content span {
    color: white;
}


.btn {
    margin-top: 10px;
}

.btn button {
    background-color: #DC2626;
    color: white;
    border: none;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    font-family: "NCL Monster Beast";
}

.btn button:hover {
    background-color: white;
    color: #DC2626;
    transition: 0.1s;
}